@use '/src/common/styles/colors' as *;
@use '/src/common/styles/mixin' as *;

$indent: 10px;

.user-profile{
  padding: $indent;
  padding-left: $indent * 3;
  margin: $indent;
  background-color: gainsboro;
  width: 250px;
  h2 > span {
    color: $accentColor;
  }
  p > span{
    color: $infoColor;
  }
}
.flex{
 @include userprof (center);
  font-size: 1.5em;
}
.amount{
  padding: 0 $indent * 2;
}

 