@use '/src/common/styles/colors' as *;

$indent: 10px;

.user-profile{
  padding: $indent;
  padding-left: $indent * 3;
  margin: $indent;
  background-color: gainsboro;
  width: 250px;
}
.flex{
  display: flex;
  justify-content: center;
  font-size: 1.5em;
}
.amount{
  padding: 0 $indent * 2;
}

